<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341639647206-1ann3cjrga98d27954i1v0qrfp6jfgau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341639647206-1ann3cjrga98d27954i1v0qrfp6jfgau</string>
	<key>API_KEY</key>
	<string>AIzaSyDVQdcOSRVZ0XCs_zUe2Qzw4ZUOUaVCMzM</string>
	<key>GCM_SENDER_ID</key>
	<string>341639647206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doggy</string>
	<key>PROJECT_ID</key>
	<string>doggy-b482c</string>
	<key>STORAGE_BUCKET</key>
	<string>doggy-b482c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341639647206:ios:fdd687c86075e4a9c7d027</string>
	<key>DATABASE_URL</key>
	<string>https://doggy-b482c-default-rtdb.firebaseio.com</string>
</dict>
</plist>